//color
$black: #000;
$white: #fff;

$official-twitter: #55acee;

$theme-blue: #252D65;
$theme-sky: #20A2CA;
$accent-red: #75140C;
$accent-yellow: #EFC867;


//font-family
$primary-font: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$rounded-font: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');
$noto-font: "Noto Sans JP", "Noto Sans CJK JP", 'Noto Sans', "Noto";

//font-color


//animation
$bezier-ease-out: cubic-bezier(.1,0,0,1) ;
$bezier-ease-in: cubic-bezier(0,.1,1,0);
$bezier-ease-in-out: cubic-bezier(.77,0,.23,1);
